:root {
  --bg-color: rgb(90, 90, 90);
  --body-color: blue;
  --color-main: blue;
  --color-accent: rgb(0, 119, 255);
  --color-light: white;
  --text-color: white;
  --test: 1px dashed red;

  /* Background Color Options */
  --bg-color-top: #1f93ff;
  --bg-color-right: #d738ff;
  --bg-color-bottom: #2433ff;
  --bg-color-left: #ff25ab;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

              /* Starting from top left corner... 1. 25% to the right, 75% down etc.. */
  background: radial-gradient(ellipse at 25% 75%, var(--bg-color-left), transparent),
              radial-gradient(ellipse at 75% 25%, var(--bg-color-right), transparent),
              radial-gradient(ellipse at 25% 25%, var(--bg-color-top), transparent),
              radial-gradient(ellipse at 75% 75%, var(--bg-color-bottom), transparent),
              black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--bg-color);
  min-height: 800px;
  min-width: 1200px;
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.75);
  border-radius: 5px;

  position: relative;

  display: grid;
  grid-template-columns: 20% auto;
  grid-template-areas: 
  "nav main main main main";
}


nav {
  display: flex;
  flex-direction: column;

}

.projectList {
  grid-area: nav;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas: 
  "header"
  "content";
  grid-template-rows: 50px;
  grid-auto-rows: minmax(50px, max-content);
  gap: 20px;
}

.nav-title {
  font-size: 22px;
  text-align: center;
  padding: 5px;
  position: relative;
  color: var(--text-color);
}

.nav-title::after {
  content: '';
  width: 80%;
  height: 1px;
  background: repeating-linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.50), transparent);
  position: absolute;
  left: 10%;
  bottom: -2px;
  margin-bottom: 5px;
}

.nav-project {
  height: 30px;
  width: 95%;
  margin: 5px;
  align-items: center;
  background-color: var(--bg-color);
  filter: brightness(1.1);
  color: var(--text-color);
  padding: 5px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
}

.nav-project > .title {
  font-size: 14px;
}

.nav-settings {
  margin-top: auto;
  text-align: center;
  color: var(--text-color);
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

.projectListContainer {
  width: 100%;
}

.header {
  border-bottom: 1px solid var(--color-light);
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > .title {
  color: var(--text-color);
  font-size: 24px;
  font-weight: bold;
}

.project-content {
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  gap: 20px;
}

.addProject {
  text-align: center;
  color: white;
  border: 1px solid white;
  width: 50%;
  cursor: pointer;
}

.taskContainer {
  background-color: var(--color-accent);
  padding: 10px;
}

.addTask {
  flex: 1;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}

.addTask > p {
  border: 1px solid white;
  padding: 5px 20px;
}

.addTaskForm {
  margin: 0 20px;
  padding: 10px;
  border: 1px solid white;

  transition: all 1s ease-in-out;
}

.projects-form {
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 25%;
  width: 50%;

  background-color: var(--bg-color);
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.projects-form > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.projects-form > .projectColorSelect {
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.projects-form > .projectTitleDiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

button {
  padding: 10px 30px;
  background-color: var(--color-accent);
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.formBG {
  position: relative;
  content: '';
}

.formBG::after{
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.794);
  z-index: 1;
}

.hide {
  display: none;
}

input[type='text'] {
  width: 100%;
  font-size: 18px;
  padding: 5px;
}

#closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;

  width: 20px;
  height: 20px;
  background-color: grey;
  border-radius: 10px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.textBox {
  width: 100%;
  height: 150px;
  margin: 10px 0;
  resize: none;
}

.taskInputForm {
  display: flex;
  flex-direction: column;
}

.taskInputForm > div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
.taskBtns {
  margin-left: auto;
}

#taskInputCancel {
  background-color: rgb(255, 47, 47);
}

#taskInputSubmit {
  background-color: rgb(0, 172, 23);
}

.taskDesc {
  background-color: rgba(255, 255, 255, 0.301);
  margin: 5px;
  padding: 5px;
}